<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#e0138c" />

    <title>Kalyra</title>
    <meta name="title" property="og:title" content="Kalyra" />
    <style>
      /* Reset CSS */
      *,
      *:before,
      *:after {
        margin: 0;
        padding: 0;
        outline: 0;
        box-sizing: border-box;
      }

      html {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      }

      a,
      a:hover,
      a:visited {
        text-decoration: none;
        color: inherit;
      }

      /* Content CSS */
      :root {
        --color-background: #282c35;
        --color-text: #eeeeee;
      }

      body {
        background: var(--color-background);
        color: var(--color-text);
        width: 100%;
        padding-bottom: 2rem;

        display: flex;
        flex-direction: column;

        & h1,
        & h2,
        & h3,
        & h4,
        & h5,
        & p,
        & ul,
        & small {
          padding: 0 max(5vw, 1rem);
        }

        & h1 {
          margin: 1rem 0 0.5rem;
        }

        & h3 {
          margin: 2rem 0 0.25rem;
        }

        & h4 {
          margin: 1.5rem 0 0.25rem;
        }

        & p {
          margin-bottom: 0.25rem;
          line-height: 175%;
        }

        & li {
          margin: 0.25rem 0 0 1.25rem;
        }

        & small {
          margin-bottom: 0.125rem;
        }

        & section.gallery {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          gap: 2rem;
        }
      }
    </style>
  </head>
  <body id="app">
    <img
      class="feature"
      src="https://res.cloudinary.com/dqvb6qgtj/image/upload/c_scale,h_200/goddess_feature_pvsiau.png"
      alt=""
    />

    <h1>Kalyra, a Deusa da Euforia</h1>

    <p>
      "Não preciso de altares. Toda taverna é meu templo, e toda plateia, minha
      congregação."
    </p>

    <small>Barda – Colégio da Espada – Nível 3</small>
    <small>Feiticeira – Alma Favorecida – Nível 1</small>

    <h3>ℹ️ Descrição</h3>
    <p>
      Kalyra acredita ser uma deusa exilada – ou talvez apenas esquecida – da
      alegria, da arte e da chama passageira. Suas memórias são fragmentos de um
      sonho: salões dourados onde música e vinho fluíam eternamente, luas que a
      chamavam de "filha", e um nome verdadeiro que ela quase consegue
      lembrar...
      <br />
    </p>
    <p>
      <strong>Olhos de Esmeralda Incandescente</strong>: Seu olhar carrega o
      brilho de mil festas proibidas, e quando sua magia se manifesta, pequenas
      faíscas verdes cintilam em suas pupilas.
    </p>
    <p>
      <strong>Cabelos de Lua e Chama</strong>: Seus longos cabelos brancos,
      levemente ondulados, brilham como prata sob a luz das estrelas – alguns
      juram que, quando ela canta, fios dourados de fogo dançam entre eles, como
      brasas ao vento.
    </p>
    <p>
      <strong>Vestes de uma Divindade do Exílio</strong>: Seu vestido
      vermelho-sangue é bordado com fios dourados que contam histórias de festas
      divinas perdidas, e seu sobretudo marrom – manchado de poeira e aventura –
      é seu único manto de "deusa errante". As medalhas de dançarina em seu
      corpo tilintam como risos antigos, cada uma uma lembrança de um lugar onde
      deixou sua marca.
    </p>

    <h3>🛡️ Classe de Armadura (CA):</h3>
    <p>15 (Armadura de Couro Batido + Destreza)</p>

    <h3>🧪 Pontos de Vida (PV):</h3>
    <p>{{ hitPoints }}</p>

    <h3>🧬 Atributos</h3>
    <p v-for="key in listAtributes">
      <strong>{{ atributes[key].description }}</strong>
      {{ atributes[key].points }} ({{ atributes[key].modifier }})
    </p>

    <h3>🎲 Salvaguardas</h3>
    <p v-for="key in listAtributes">
      <strong>{{ atributes[key].description }}</strong>
      {{ atributes[key].saveThrow }}
    </p>

    <h3>📘 Proficiência</h3>
    <p><strong>Ferramentas</strong>: Violino, Alaude e Medalhas</p>
    <p>
      <strong>Perícias</strong>: Acrobacia, Atuação, Enganação, Intimidação e
      Persuasão
    </p>
    <p><strong>Idiomas</strong>: Comum, Élfico e Celestial</p>

    <h3>🎻Equipamentos</h3>
    <p>2 Rapieiras (1d8{{ atributes.dexterity.modifier }} - Finesse)</p>
    <p>Violino</p>
    <p>Kit de Artista</p>

    <section class="resources">
      <h3>🎭 Recursos:</h3>

      <p><strong>Visão no Escuro</strong> Visibilidade de 18m</p>
      <p>
        <strong>Ancestralidade Feérica:</strong> Imunidade dormir e vantagem
        contra ser enfeitiçado.
      </p>
      <p>
        <strong>Inspiração de Bardo (d6):</strong> {{ atributes.charisma.bonus
        }} vezes por descanso longo
      </p>
      <p>
        <strong>Pau pra Toda Obra</strong>: metade da proficiência testes não
        proficientes
      </p>
      <p><strong>Canção de Descanso</strong>: cura de ld6 no descanso curto</p>
      <p>
        <strong>Especialista</strong>: dobrar proficiência em habilidade
        proficientes
      </p>
      <p>
        <strong>Proficiência Bônus</strong>: proficiência com armadura media e
        cimitarras
      </p>
      <p>
        <strong>Estilo de Luta (Combate com Duas Armas)</strong>: modificador de
        habilidade ao dano do segundo ataque
      </p>
      <p>
        <strong>Floreio de Lâminas</strong>: exibições impressionantes de proeza
        e velocidade marcial
      </p>
      <p><strong>Magia Divina (Caótica)</strong>: Habilidade Perdição</p>
      <p>
        <strong>Favorecido pelos Deuses</strong>: adicionar 2d4 em falhas por
        descanso curto
      </p>
    </section>

    <section>
      <h3>🪄 Espaços de magia</h3>
      <p><strong>Nível 1</strong>: 4</p>
      <p><strong>Nível 2</strong>: 3</p>
    </section>

    <section>
      <h3>🎶 Magias conhecidas:</h3>

      <h4>Truques:</h4>
      <p>Reparar</p>
      <p>Proteção contra Lâminas</p>
      <p>Luzes Dançantes</p>
      <p>Prestidigitação</p>
      <p>Taumaturgia</p>
      <p>Zombaria Viciosa (<em>Vicious Mockery</em>)</p>

      <h4>Magias de Nível 1:</h4>
      <p>Queda Suave (<em>Feather Fall</em>)</p>
      <p>Compreender Idiomas (<em>Comprehend Languages</em>)</p>
      <p>Curar Ferimentos (<em>Cure Wounds</em>)</p>
      <p>
        Fada Ilusória (<em>Faerie Fire</em>) – Para dar vantagem aos aliados
      </p>
      <p>Palavra Curativa (<em>Healing Word</em>) – Cura rápida</p>
      <p>
        Disfarçar-se (<em>Disguise Self</em>) – Perfeita pra artista itinerante
      </p>
      <p>Passos Longos (<em>Longstrider</em>) – Velocidade extra</p>

      <h4>Magias de Nível 2:</h4>
      <p>Imagem Espelhada (<em>Mirror Image</em>) – Defesa contra ataques</p>
      <p>
        Calafrio Cortante (<em>Shatter</em>) – Um ataque explosivo, com som
        estrondoso
      </p>
    </section>

    <h3>🖼️ Galeria</h3>

    <section class="gallery">
      <img
        v-for="image in images"
        sizes="(min-width: 25rem) 25rem, 95vw"
        v-bind:srcset="`https://res.cloudinary.com/dqvb6qgtj/image/upload/c_auto,w_256,ar_2:3/${image.file} 256w,
      https://res.cloudinary.com/dqvb6qgtj/image/upload/c_auto,w_512,ar_2:3/${image.file} 512w,
      https://res.cloudinary.com/dqvb6qgtj/image/upload/c_auto,w_768,ar_2:3/${image.file} 768w,
      https://res.cloudinary.com/dqvb6qgtj/image/upload/c_auto,w_1024,ar_2:3/${image.file} 1024w,
      https://res.cloudinary.com/dqvb6qgtj/image/upload/c_auto,w_1280,ar_2:3/${image.file} 1280w`"
        v-bind:src="`https://res.cloudinary.com/dqvb6qgtj/image/upload/c_auto,w_512,ar_2:3/${image.file}`"
        alt=""
      />
    </section>

    <section class="skills">
      <h3>💃🏼 Habilidades</h3>

      <h4>Visão no Escuro</h4>
      <p>
        Graças ao seu sangue élfico, você possui uma visão superior no escuro.
        Você consegue enxergar até 18 metros na meia-luz como se fosse dia e, na
        escuridão, como se fosse meia-luz. Na escuridão você só consegue
        discernir tons de cinza.
      </p>

      <h4>Ancestralidade Feérica</h4>
      <p>
        Nenhum tipo de magia pode colocá-lo para dormir, e você tem vantagem em
        salvaguardas contra ser enfeitiçado. Versatilidade com Perícias. Você
        ganha proficiência em duas perícias à sua escolha.
      </p>

      <h4>Idiomas</h4>
      <p>
        Você pode falar, ler e escrever Comum, Élfico e outro idioma à sua
        escolha.
      </p>

      <h4>Inspiração de Bardo (d6)</h4>
      <p>
        Você pode inspirar os outros por meio da música ou das palavras. Para
        isso, no seu turno, deve usar uma ação bônus para escolher uma criatura
        que não seja você mesmo, que esteja a no máximo 18 metros de distância,
        e que seja capaz de ouvi-lo. Essa criatura ganha ld6 de Inspiração de
        Bardo.
        <br />
        Uma vez durante os próximos 10 minutos, essa criatura poderá jogar o d6
        e adicionar o resultado a qualquer teste de atributo, salvaguarda ou
        jogada de ataque que realizar.
        <br />
        Ela pode jogar o d20 antes de decidir se usará o dado de Inspiração de
        Bardo, mas precisa decidir antes de o DM dizer se a jogada foi
        bem-sucedida ou não. Uma vez que o dado de Inspiração de Bardo tenha
        sido jogado, ele terá sido gasto. Uma criatura pode ganhar apenas um
        dado de Inspiração de Bardo por vez.
        <br />
        Você pode usar esta característica uma quantidade de vezes igual ao seu
        modificador de Carisma (uma vez, no mínimo). Você recupera todos os usos
        ao final de um descanso longo.
        <br />
        Seu dado de Inspiração de Bardo muda quando você alcança certos níveis
        nesta classe. O dado se torna ld8 no 50 nível, ldlO no 10° e ldl2 no 15°
        nível.
      </p>

      <h4>Pau pra Toda Obra</h4>
      <p>
        A partir do 2° nível, você pode adicionar metade do seu bônus de
        proficiência, arredondado para baixo, a qualquer teste de atributo que
        realizar e que já não inclua seu bônus de proficiência.
      </p>

      <h4>Canção de Descanso</h4>
      <p>
        A partir do 2° nível, durante um descanso curto, você pode usar uma
        música ou discurso tranquilizador para ajudar a revitalizar seus aliados
        feridos. Ao final do descanso, se você ou quaisquer criaturas amigáveis
        que possam ouvir sua atuação tiverem recuperado pontos de vida devido ao
        gasto de um ou mais Dados de Vida, todos recuperam ld6 pontos de vida a
        mais.
        <br />
        A quantidade de pontos de vida adicionais aumenta quando você chega a
        certos níveis nesta classe: ld8 no 9 ° nível, ldlO no 13° e ldl2 no 17°
        nível.
      </p>

      <h4>Especialista</h4>
      <p>
        No 3° nível, escolha duas perícias na quais já seja proficiente. Seu
        bônus de proficiência é duplicado em qualquer teste de atributo que
        utilize uma dessas perícias.
        <br />
        No 10° nível, você pode atribuir este mesmo benefício a outras duas
        perícias em que seja proficiente.
      </p>

      <h4>Proficiência Bônus</h4>
      <p>
        Quando você entra no Colégio das Espadas no 3° nível, você ganha
        proficiência com armadura media e cimitarras.
        <br />
        Se você é proficiente com uma arma simples ou marcial, você pode usar
        como foco de feitiço para os seus feitiços difíceis.
      </p>

      <h4>Estilo de Luta</h4>
      <p>
        No 3° nível, você adota um estilo de luta como sua especialidade.
        Escolha uma das seguintes opções. Você não pode escolher um estilo uma
        opção mais de uma vez, mesmo que algo no jogo lhe permita.
        <br />
        <strong>Duelo.</strong> Quando você está empunhando uma arma corpo a
        corpo em uma mão e nenhuma outra, você ganha um bônus de +2 nas rolagens
        de ataque com essa arma.
        <br />
        <strong>Combate com Duas Armas.</strong> Quando você se empenha em duas
        armas, você pode adicionar o modificador de habilidade ao dano do
        segundo ataque.
      </p>

      <h4>Floreio de Lâminas</h4>
      <p>
        No 3° nível, você aprende a realizar exibições impressionantes de proeza
        e velocidade marcial.
        <br />
        Sempre que você toma a ação de Ataque no seu turno, sua velocidade de
        caminhada aumenta 3 metros até o final do turno, e se um ataque de arma
        que você faz como parte desta ação atinge uma criatura, você pode usar
        uma das seguintes opções de Floreios de Lâmina de sua escolha. Você pode
        usar apenas uma opção por turno.
        <br />
        <strong>Floreio Defensivo.</strong> Você pode gastar uma Inspiração de
        Bardo para causar dano extra ao alvo que acerta. O dano é igual ao
        número que você rola no dado de inspiração de bardo. Você também
        adiciona o número rolado a sua CA até o início de seu próximo turno.
        <br />
        <strong>Floreio Cortante.</strong> Você pode gastar uma de suas
        Inspirações de Bardo para causar dano extra ao alvo que acerta e a
        qualquer outra criatura de sua escolha que você possa a 1,5 metros de
        você. O dano é igual ao número que você rola no dado de inspiração de
        bardo.
        <br />
        <strong>Floreio Móvel.</strong> Você pode gastar uma de suas Inspirações
        de Bardo para causar dano extra ao alvo que acerta. O dano é igual ao
        número que você rola no dado de inspiração de bardo. Você também pode
        empurrar o alvo até 1,5 metros de distância de você, além de um valor de
        30 centímetros a cada número que você rola naquele dado. Você pode então
        usar instantaneamente sua reação para se deslocar até um espaço
        desocupado dentro de 1,5 metros do alvo.
      </p>

      <h4>Magia Divina (Caótica)</h4>
      <p>
        Seu vínculo com o divino permite que você aprenda magias da classe
        clérigo. Quando o sua característica como conjurador permite que você
        aprenda ou substitua um truque ou uma magia de feiticeiro de 1 o nível
        ou superior, você pode escolher a nova magia da lista de magias do
        clérigo ou da lista de magias do feiticeiro. Você deve obedecer todas as
        restrições para selecionar a magia, e isso a toma uma magia de
        feiticeiro para você.
        <br />
        Além disso, escolha um alinhamento pela fonte do seu poder divino: o
        bem, o mal, a ordem, o caos ou a neutralidade. Você aprende uma magia
        adicional com base nessa afinidade, como mostrado abaixo. É uma magia de
        feiticeiro para você, mas não conta para o seu número de magias
        conhecidas. Se você substituir mais tarde essa magia, você deve
        substituí-la por uma magia da lista de magias do clérigo.
        <br />
        (Afinidade: Caótica | Magia: Perdição)
      </p>

      <h4>Favorecido pelos Deuses</h4>
      <p>
        A partir do 1 o nível, o poder divino protege seu destino. Se você
        falhar em um teste de resistência ou errar um ataque, pode rolar 2d4 e
        adicioná-lo ao total,
      </p>
    </section>

    <section class="grimoire">
      <h3>📘 Grimório</h3>

      <h4>Palavra Curativa</h4>
      <small>1° círculo, evocação</small>
      <ul>
        <li><strong>Tempo de Conjuração</strong>: 1 ação bônus</li>
        <li><strong>Alcance</strong>: 18 metros</li>
        <li><strong>Componentes</strong>: V</li>
        <li><strong>Duração</strong>: Instantânea</li>
      </ul>
      <p>
        Escolha uma criatura à sua vista e no alcance da magia. Ela recupera uma
        quantidade de pontos de vida igual a ld4 + seu modificador de atributo
        de conjuração. Esta magia não tem efeito sobre mortos-vivos ou
        constructos.
        <br />
        <strong>Em Círculos Superiores</strong>. Ao conjurar esta magia usando
        um espaço de magia de 2° círculo ou superior, a cura aumenta em ld4 para
        cada círculo do espaço acima do 1 °
      </p>

      <h4>Curar Ferimentos</h4>
      <small>1° círculo, evocação</small>
      <ul>
        <li><strong>Tempo de Conjuração</strong>: 1 ação</li>
        <li><strong>Alcance</strong>: Toque</li>
        <li><strong>Componentes</strong>: V, S</li>
        <li><strong>Duração</strong>: Instantânea</li>
      </ul>
      <p>
        Uma criatura tocada por você recupera um número de pontos de vida igual
        a ld8 + o modificador do seu atributo de conjuração ({{
        atributes.charisma.modifier }}). Esta magia não tem efeito sobre
        mortos-vivos ou constructos.
        <br />
        <strong>Em Círculos Superiores</strong>. Ao conjurar esta magia usando
        um espaço de magia de 2° círculo ou superior, a cura aumenta em ld8 para
        cada círculo do espaço acima do 1°.
      </p>

      <h4>Perdição</h4>
      <small>1° círculo, encantamento</small>
      <ul>
        <li><strong>Tempo de Conjuração</strong>: 1 ação</li>
        <li><strong>Alcance</strong>: 9 metros</li>
        <li><strong>Componentes</strong>: V, S, M (um gota de sangue)</li>
        <li><strong>Duração</strong>: Concentração, até 1 minuto</li>
      </ul>

      <p>
        Até três criaturas, à sua escolha, que você possa ver dentro do alcance,
        devem realizar um teste de resistência de Carisma. Sempre que um alvo
        que falhou nessa resistência realizar uma jogada de ataque ou um teste
        de resistência antes da magia acabar, o alvo deve rolar um d4 e subtrair
        o valor rolado da jogada de ataque ou teste de resistência.
        <br />
        <strong>Em Círculos Superiores</strong>. Quando você conjurar essa magia
        usando um espaço de magia de 2° nível ou superior, você pode afetar uma
        criatura adicional para cada nível do espaço acima do 1°.
      </p>
    </section>
  </body>

  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script type="text/javascript">
    const { createApp, ref } = Vue;
    const atributes = {
      strength: {
        description: "Força",
        proficient: false,
        points: 10,
      },
      dexterity: {
        description: "Destreza",
        proficient: true,
        points: 16,
      },
      constitution: {
        description: "Constituição",
        proficient: false,
        points: 14,
      },
      intelligence: {
        description: "Inteligência",
        proficient: false,
        points: 8,
      },
      wisdom: {
        description: "Sabedoria",
        proficient: false,
        points: 10,
      },
      charisma: {
        description: "Carisma",
        proficient: true,
        points: 18,
      },
    };

    const images = [
      {
        file: "inspiration_violin_x5j1zc.png",
      },
      {
        file: "horse_racing_qjjfsw.png",
      },
      {
        file: "goddess_q9flg3.png",
        landscape: true,
      },
      {
        file: "hostile_m7tuja.png",
      },
      {
        file: "rest_sound_gegstg.png",
      },
      {
        file: "parade_glitter_usbzza.png",
      },
      {
        file: "parade_pants_x0kcka.png",
      },
      {
        file: "parade_feathers_hrdb1a.png",
      },
      {
        file: "parade_violin_rlevg9.png",
      },
      {
        file: "dancing_square_u8cjft.png",
      },
      {
        file: "inspiration_violin_cover_scnziq.png",
      },
      {
        file: "card_cbrjjs.png",
      },
      {
        file: "dancing_court_enm6aj.png",
      },
      {
        file: "dancing_guards_dh4vkk.png",
      },
      {
        file: "violin_energitic_aor3cu.png",
      },
      {
        file: "auto_violin_ispzs4.png",
      },
      {
        file: "dancing_court_cover_ddljxc.png",
      },
      {
        file: "vicious_mockery_rvldwv.png",
      },
      {
        file: "desert_caravan_k4krno.png",
      },
      {
        file: "sword_fighting_goblins_oo9qll.png",
      },
      {
        file: "duel_wylyqx.png",
      },
      {
        file: "fighting_horse_reveal_bob6um.png",
      },
      {
        file: "fighting_house_psjx9w.png",
      },
      {
        file: "show_fires_v7yyxn.png",
      },
      {
        file: "show_cover_zuzr2k.png",
      },
      {
        file: "reveal_swords_tqfdns.png",
      },
      {
        file: "reveal_square_hxmaxd.png",
      },
      {
        file: "reveal_aura_hskfib.png",
      },
      {
        file: "reveal_square_cover_vym5eb.png",
      },
      {
        file: "cutting_flourish_fiulzx.png",
      },
      {
        file: "beach_brazilian_fmobnx.png",
      },
    ];

    const getModifier = (value) => `${value >= 0 ? "+" : ""}${value}`;

    createApp({
      setup() {
        const levelBard = 3;
        const levelSorcerer = 1;
        const proficiency = (levelBard + levelSorcerer + 1) / 2;

        const listAtributes = Object.keys(atributes);
        listAtributes.forEach((key) => {
          const { proficient, points } = atributes[key];

          const bonus = (points - 10) / 2;

          atributes[key].bonus = bonus;
          atributes[key].modifier = getModifier(bonus);
          atributes[key].saveThrow = getModifier(
            bonus + (proficient ? proficiency : 0)
          );
        });

        const hitPoints = `Barda (3d8+${
          atributes.constitution.bonus * levelBard
        }) + Feiticeira (ld6+${atributes.constitution.bonus * levelSorcerer})`;

        return {
          listAtributes,
          atributes,
          proficiency,
          images,
          hitPoints,
        };
      },
    }).mount("#app");
  </script>
</html>
