<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#e0138c" />

    <title>Kalyra</title>
    <meta name="title" property="og:title" content="Kalyra" />
    <meta
      property="og:description"
      content="Kalyra, a ‘deusa’ bardo-feiticeira: dança com rapieiras, cura com êxtase e espalha festas onde passa. Será divindade ou só delírio encantador?"
    />
    <meta
      name="image"
      property="og:image"
      itemprop="image"
      content="https://res.cloudinary.com/dqvb6qgtj/image/upload/c_thumb,g_face,w_1200,h_630/dancing_square_u8cjft.png"
    />
    <meta name="type" property="og:type" content="website" />
    <meta name="url" property="og:url" content="http://kalyra.jwalves.com/" />
    <meta name="site_name" property="og:site_name" content="Kalyra" />
    <meta name="locale" property="og:locale" content="pt_BR" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="http://kalyra.jwalves.com/" />
    <meta name="twitter:title" content="Kalyra" />
    <meta
      name="twitter:description"
      content="Kalyra, a ‘deusa’ bardo-feiticeira: dança com rapieiras, cura com êxtase e espalha festas onde passa. Será divindade ou só delírio encantador?"
    />
    <meta
      name="twitter:image"
      content="https://res.cloudinary.com/dqvb6qgtj/image/upload/c_thumb,g_face,w_1200,h_630/dancing_square_u8cjft.png"
    />

    <link
      rel="icon"
      href="https://kalyra.jwalves.com/favicon.ico"
      type="image/ico"
    />
    <link
      rel="icon"
      href="https://kalyra.jwalves.com/favicon.png"
      type="image/png"
    />

    <style>
      /* Reset CSS */
      *,
      *:before,
      *:after {
        margin: 0;
        padding: 0;
        outline: 0;
        box-sizing: border-box;
      }

      html {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      }

      a,
      a:hover,
      a:visited {
        text-decoration: none;
        color: inherit;
      }

      /* Content CSS */
      :root {
        --color-background: #eeeeee;
        --color-text: #282c35;

        @media (prefers-color-scheme: dark) {
          --color-background: #282c35;
          --color-text: #eeeeee;
        }
      }

      body {
        background: var(--color-background);
        color: var(--color-text);
        width: 100%;
        padding-bottom: 2rem;

        display: flex;
        flex-direction: column;

        & h1,
        & h2,
        & h3,
        & h4,
        & h5,
        & p,
        & ul,
        & small {
          padding: 0 max(5vw, 1rem);
        }

        & h1 {
          margin: 1rem 0 0.5rem;
        }

        & h3 {
          margin: 2rem 0 0.25rem;
        }

        & h4 {
          margin: 1.5rem 0 0.25rem;
        }

        & p {
          margin-bottom: 0.25rem;
          line-height: 175%;
        }

        & li {
          margin: 0.25rem 0 0 1.25rem;
        }

        & ul {
          margin-bottom: 0.5rem;
        }

        & small {
          margin-bottom: 0.25rem;
        }

        & section.gallery {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          gap: 2rem;

          margin-top: 0.5rem;
        }

        & div.columns {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 2rem;
          padding: 0 max(5vw, 1rem);

          & h1,
          & h2,
          & h3,
          & h4,
          & h5,
          & p,
          & ul,
          & small {
            padding-left: 0;
            padding-right: 0;
          }
        }

        @media (max-width: 980px) {
          & div.columns {
            grid-template-columns: 1fr;
            gap: 0;
          }
        }
      }
    </style>
  </head>
  <body id="app">
    <img
      class="feature"
      v-bind:srcset="`${cndImages}/c_thumb,g_face,w_256,h_360/goddess_q9flg3.png 256w,
            ${cndImages}/c_thumb,g_face,w_512,h_360/goddess_q9flg3.png 512w,
            ${cndImages}/c_thumb,g_face,w_768,h_360/goddess_q9flg3.png 768w,
            ${cndImages}/c_thumb,g_face,w_1024,h_360/goddess_q9flg3.png 1024w,
            ${cndImages}/c_thumb,g_face,w_1280,h_320/goddess_q9flg3.png 1280w,
            ${cndImages}/c_thumb,g_face,w_1366,h_280/goddess_q9flg3.png 1366w`"
      v-bind:src="`${cndImages}/c_thumb,g_face,w_1280,h_240/goddess_q9flg3.png`"
      alt=""
    />

    <h1>Kalyra, a Deusa da Euforia</h1>

    <p>
      "Não preciso de altares. Toda taverna é meu templo, e toda plateia, minha
      congregação."
    </p>

    <small>Barda – Colégio da Espada – Nível 3</small>
    <small>Feiticeira – Alma Favorecida – Nível 1</small>

    <h3>ℹ️ Descrição</h3>
    <p>
      Kalyra acredita ser uma deusa exilada – ou talvez apenas esquecida – da
      alegria, da arte e da chama passageira. Suas memórias são fragmentos de um
      sonho: salões dourados onde música e vinho fluíam eternamente, luas que a
      chamavam de "filha", e um nome verdadeiro que ela quase consegue
      lembrar...
      <br />
    </p>
    <p>
      <strong>Olhos de Esmeralda Incandescente</strong>: Seu olhar carrega o
      brilho de mil festas proibidas, e quando sua magia se manifesta, pequenas
      faíscas verdes cintilam em suas pupilas.
    </p>
    <p>
      <strong>Cabelos de Lua e Chama</strong>: Seus longos cabelos brancos,
      levemente ondulados, brilham como prata sob a luz das estrelas – alguns
      juram que, quando ela canta, fios dourados de fogo dançam entre eles, como
      brasas ao vento.
    </p>
    <p>
      <strong>Vestes de uma Divindade do Exílio</strong>: Seu vestido
      vermelho-sangue é bordado com fios dourados que contam histórias de festas
      divinas perdidas, e seu sobretudo marrom – manchado de poeira e aventura –
      é seu único manto de "deusa errante". As medalhas de dançarina em seu
      corpo tilintam como risos antigos, cada uma uma lembrança de um lugar onde
      deixou sua marca.
    </p>

    <div class="columns">
      <section>
        <h3>🛡️ Classe de Armadura (CA):</h3>
        <p>15 (Armadura de Couro Batido + Destreza)</p>
      </section>

      <section>
        <h3>🧪 Pontos de Vida (PV):</h3>
        <p>{{ hitPoints }}</p>
      </section>
    </div>

    <div class="columns">
      <div content="content">
        <h3>🧬 Atributos</h3>
        <p v-for="key in listAtributes">
          <strong>{{ atributes[key].description }}</strong>
          {{ atributes[key].points }} ({{ atributes[key].modifier }})
        </p>
      </div>

      <div content="content">
        <h3>🎲 Salvaguardas</h3>
        <p v-for="key in listAtributes">
          <strong>{{ atributes[key].description }}</strong>
          {{ atributes[key].saveThrow }}
        </p>
      </div>
    </div>

    <div class="columns">
      <div content="content">
        <h3>📘 Proficiência</h3>
        <p><strong>Ferramentas</strong>: Violino, Alaude e Medalhas</p>
        <p><strong>Armaduras</strong>: Leves e Médias</p>
        <p><strong>Armas</strong>: Leves, Rapier e Cimitarra</p>
        <p>
          <strong>Perícias</strong>: Acrobacia, Atuação, Enganação, Intimidação
          e Persuasão
        </p>
        <p><strong>Idiomas</strong>: Comum, Élfico e Celestial</p>
      </div>

      <div content="content">
        <h3>🎻Equipamentos</h3>
        <p>2 Rapieiras (1d8{{ atributes.dexterity.modifier }} - Finesse)</p>
        <p>Violino</p>
        <p>Kit de Artista</p>
        <p>5d4 x 10 PO</p>
      </div>
    </div>

    <div class="columns">
      <div content="content">
        <h3>🎭 Recursos:</h3>

        <p><strong>Visão no Escuro</strong> visibilidade de 18m</p>
        <p>
          <strong>Ancestralidade Feérica</strong>: imunidade dormir e vantagem
          contra ser enfeitiçado.
        </p>
        <p>
          <strong>Inspiração de Bardo (d6)</strong>: {{ atributes.charisma.bonus
          }} vezes por descanso longo
        </p>
        <p>
          <strong>Pau pra Toda Obra</strong>: metade da proficiência testes não
          proficientes
        </p>
        <p>
          <strong>Canção de Descanso</strong>: cura adicional de 1d6 no descanso
          curto
        </p>
        <p>
          <strong>Especialista</strong>: dobrar proficiência em habilidade
          proficientes
        </p>
        <p>
          <strong>Proficiência Bônus</strong>: proficiência com armadura media e
          cimitarras
        </p>
        <p>
          <strong>Estilo de Luta (Combate com Duas Armas)</strong>: modificador
          de habilidade ao dano do segundo ataque
        </p>
        <p>
          <strong>Floreio de Lâminas</strong>: exibições impressionantes de
          proeza e velocidade marcial
        </p>
        <p><strong>Magia Divina (Caótica)</strong>: conhecer magia Perdição</p>
        <p>
          <strong>Favorecido pelos Deuses</strong>: adicionar 2d4 em falhas por
          descanso curto
        </p>

        <section>
          <h3>🪄 Espaços de magia</h3>
          <p><strong>Nível 1</strong>: 4 espaços de magia</p>
          <p><strong>Nível 2</strong>: 3 espaços de magia</p>
        </section>
      </div>

      <div content="content">
        <section>
          <h3>🎶 Magias conhecidas:</h3>

          <h4>Truques:</h4>
          <a href="#prestidigitation">
            <p>Prestidigitação (<em>Prestidigitation</em>)</p>
          </a>
          <a href="#sure_shot">
            <p>Golpe Certeiro (<em>Sure Shot</em>)</p>
          </a>
          <a href="#minor_illusion">
            <p>Ilusão Menor (<em>Minor Illusion</em>)</p>
          </a>
          <a href="#blade_barrier">
            <p>Proteção contra Lâminas (<em>Blade Barrier</em>)</p>
          </a>
          <a href="#repair">
            <p>Reparar (<em>Repair</em>)</p>
          </a>
          <a href="#dancing_lights">
            <p>Luzes Dançantes (<em>Dancing Lights</em>)</p>
          </a>
          <a href="#vicious_mockery">
            <p>Zombaria Perversa (<em>Vicious Mockery</em>)</p>
          </a>

          <h4>Magias de Nível 1:</h4>
          <a href="#comprehend_languages">
            <p>Compreender Idiomas (<em>Comprehend Languages</em>)</p>
          </a>
          <a href="#cure_wounds">
            <p>Curar Ferimentos (<em>Cure Wounds</em>)</p>
          </a>
          <a href="#disguise_self">
            <p>Disfarçar-se (<em>Disguise Self</em>)</p>
          </a>
          <a href="#speak_with_animals">
            <p>Falar com Animais (<em>Speak with Animals</em>)</p>
          </a>
          <a href="#damnation">
            <p>Perdição (<em>Damnation</em>)</p>
          </a>
          <a href="#healing_word">
            <p>Palavra Curativa (<em>Healing Word</em>)</p>
          </a>
          <a href="#feather_fall">
            <p>Queda Suave (<em>Feather Fall</em>)</p>
          </a>

          <h4>Magias de Nível 2:</h4>
          <a href="#shatter">
            <p>Despedaçar (<em>Shatter</em>)</p>
          </a>
          <a href="#lesser_restoration">
            <p>Restauração Menor (<em>Lesser Restoration</em>)</p>
          </a>
        </section>
      </div>
    </div>

    <h3>🖼️ Galeria - Anime</h3>

    <section class="gallery">
      <a v-for="image in images_anime" v-bind:href="`${cndImages}/${image}`">
        <img
          class="picture"
          sizes="(min-width: 25rem) 25rem, 95vw"
          v-bind:srcset="`${cndImages}/c_auto,w_256,ar_2:3/${image} 256w,
            ${cndImages}/c_auto,w_512,ar_2:3/${image} 512w,
            ${cndImages}/c_auto,w_768,ar_2:3/${image} 768w,
            ${cndImages}/c_auto,w_1024,ar_2:3/${image} 1024w,
            ${cndImages}/c_auto,w_1280,ar_2:3/${image} 1280w`"
          v-bind:src="`${cndImages}/c_auto,w_512,ar_2:3/${image}`"
          alt=""
        />
      </a>
    </section>

    <h3>🖼️ Galeria - Realismo Fantástico</h3>

    <section class="gallery">
      <a v-for="image in images_realist" v-bind:href="`${cndImages}/${image}`">
        <img
          class="picture"
          sizes="(min-width: 25rem) 25rem, 95vw"
          v-bind:srcset="`${cndImages}/c_auto,w_256,ar_2:3/${image} 256w,
            ${cndImages}/c_auto,w_512,ar_2:3/${image} 512w,
            ${cndImages}/c_auto,w_768,ar_2:3/${image} 768w,
            ${cndImages}/c_auto,w_1024,ar_2:3/${image} 1024w,
            ${cndImages}/c_auto,w_1280,ar_2:3/${image} 1280w`"
          v-bind:src="`${cndImages}/c_auto,w_512,ar_2:3/${image}`"
          alt=""
        />
      </a>
    </section>

    <section class="skills">
      <h3>💃🏼 Habilidades</h3>

      <h4>Visão no Escuro</h4>
      <p>
        Graças ao seu sangue élfico, você possui uma visão superior no escuro.
        Você consegue enxergar até 18 metros na meia-luz como se fosse dia e, na
        escuridão, como se fosse meia-luz. Na escuridão você só consegue
        discernir tons de cinza.
      </p>

      <h4>Ancestralidade Feérica</h4>
      <p>
        Nenhum tipo de magia pode colocá-lo para dormir, e você tem vantagem em
        salvaguardas contra ser enfeitiçado. Versatilidade com Perícias. Você
        ganha proficiência em duas perícias à sua escolha.
      </p>

      <h4>Idiomas</h4>
      <p>
        Você pode falar, ler e escrever Comum, Élfico e outro idioma à sua
        escolha.
      </p>

      <h4>Inspiração de Bardo (d6)</h4>
      <p>
        Você pode inspirar os outros por meio da música ou das palavras. Para
        isso, no seu turno, deve usar uma ação bônus para escolher uma criatura
        que não seja você mesmo, que esteja a no máximo 18 metros de distância,
        e que seja capaz de ouvi-lo. Essa criatura ganha 1d6 de Inspiração de
        Bardo.
        <br />
        Uma vez durante os próximos 10 minutos, essa criatura poderá jogar o d6
        e adicionar o resultado a qualquer teste de atributo, salvaguarda ou
        jogada de ataque que realizar.
        <br />
        Ela pode jogar o d20 antes de decidir se usará o dado de Inspiração de
        Bardo, mas precisa decidir antes de o DM dizer se a jogada foi
        bem-sucedida ou não. Uma vez que o dado de Inspiração de Bardo tenha
        sido jogado, ele terá sido gasto. Uma criatura pode ganhar apenas um
        dado de Inspiração de Bardo por vez.
        <br />
        Você pode usar esta característica uma quantidade de vezes igual ao seu
        modificador de Carisma (uma vez, no mínimo). Você recupera todos os usos
        ao final de um descanso longo.
        <br />
        Seu dado de Inspiração de Bardo muda quando você alcança certos níveis
        nesta classe. O dado se torna 1d8 no 50 nível, 1d1O no 10° e 1d12 no 15°
        nível.
      </p>

      <h4>Pau pra Toda Obra</h4>
      <p>
        A partir do 2° nível, você pode adicionar metade do seu bônus de
        proficiência, arredondado para baixo, a qualquer teste de atributo que
        realizar e que já não inclua seu bônus de proficiência.
      </p>

      <h4>Canção de Descanso</h4>
      <p>
        A partir do 2° nível, durante um descanso curto, você pode usar uma
        música ou discurso tranquilizador para ajudar a revitalizar seus aliados
        feridos. Ao final do descanso, se você ou quaisquer criaturas amigáveis
        que possam ouvir sua atuação tiverem recuperado pontos de vida devido ao
        gasto de um ou mais Dados de Vida, todos recuperam 1d6 pontos de vida a
        mais.
        <br />
        A quantidade de pontos de vida adicionais aumenta quando você chega a
        certos níveis nesta classe: 1d8 no 9° nível, 1d1O no 13° e 1d12 no 17°
        nível.
      </p>

      <h4>Especialista</h4>
      <p>
        No 3° nível, escolha duas perícias na quais já seja proficiente. Seu
        bônus de proficiência é duplicado em qualquer teste de atributo que
        utilize uma dessas perícias.
        <br />
        No 10° nível, você pode atribuir este mesmo benefício a outras duas
        perícias em que seja proficiente.
      </p>

      <h4>Proficiência Bônus</h4>
      <p>
        Quando você entra no Colégio das Espadas no 3° nível, você ganha
        proficiência com armadura media e cimitarras.
        <br />
        Se você é proficiente com uma arma simples ou marcial, você pode usar
        como foco de feitiço para os seus feitiços difíceis.
      </p>

      <h4>Estilo de Luta</h4>
      <p>
        No 3° nível, você adota um estilo de luta como sua especialidade.
        Escolha uma das seguintes opções. Você não pode escolher um estilo uma
        opção mais de uma vez, mesmo que algo no jogo lhe permita.
        <br />
        <strong>Duelo</strong>. Quando você está empunhando uma arma corpo a
        corpo em uma mão e nenhuma outra, você ganha um bônus de +2 nas rolagens
        de ataque com essa arma.
        <br />
        <strong>Combate com Duas Armas</strong>. Quando você se empenha em duas
        armas, você pode adicionar o modificador de habilidade ao dano do
        segundo ataque.
      </p>

      <h4>Floreio de Lâminas</h4>
      <p>
        No 3° nível, você aprende a realizar exibições impressionantes de proeza
        e velocidade marcial.
        <br />
        Sempre que você toma a ação de Ataque no seu turno, sua velocidade de
        caminhada aumenta 3 metros até o final do turno, e se um ataque de arma
        que você faz como parte desta ação atinge uma criatura, você pode usar
        uma das seguintes opções de Floreios de Lâmina de sua escolha. Você pode
        usar apenas uma opção por turno.
        <br />
        <strong>Floreio Defensivo</strong>. Você pode gastar uma Inspiração de
        Bardo para causar dano extra ao alvo que acerta. O dano é igual ao
        número que você rola no dado de inspiração de bardo. Você também
        adiciona o número rolado a sua CA até o início de seu próximo turno.
        <br />
        <strong>Floreio Cortante</strong>. Você pode gastar uma de suas
        Inspirações de Bardo para causar dano extra ao alvo que acerta e a
        qualquer outra criatura de sua escolha que você possa a 1,5 metros de
        você. O dano é igual ao número que você rola no dado de inspiração de
        bardo.
        <br />
        <strong>Floreio Móvel</strong>. Você pode gastar uma de suas Inspirações
        de Bardo para causar dano extra ao alvo que acerta. O dano é igual ao
        número que você rola no dado de inspiração de bardo. Você também pode
        empurrar o alvo até 1,5 metros de distância de você, além de um valor de
        30 centímetros a cada número que você rola naquele dado. Você pode então
        usar instantaneamente sua reação para se deslocar até um espaço
        desocupado dentro de 1,5 metros do alvo.
      </p>

      <h4>Magia Divina (Caótica)</h4>
      <p>
        Seu vínculo com o divino permite que você aprenda magias da classe
        clérigo. Quando o sua característica como conjurador permite que você
        aprenda ou substitua um truque ou uma magia de feiticeiro de 1° nível ou
        superior, você pode escolher a nova magia da lista de magias do clérigo
        ou da lista de magias do feiticeiro. Você deve obedecer todas as
        restrições para selecionar a magia, e isso a toma uma magia de
        feiticeiro para você.
        <br />
        Além disso, escolha um alinhamento pela fonte do seu poder divino: o
        bem, o mal, a ordem, o caos ou a neutralidade. Você aprende uma magia
        adicional com base nessa afinidade, como mostrado abaixo. É uma magia de
        feiticeiro para você, mas não conta para o seu número de magias
        conhecidas. Se você substituir mais tarde essa magia, você deve
        substituí-la por uma magia da lista de magias do clérigo.
        <br />
        (Afinidade: Caótica | Magia: Perdição)
      </p>

      <h4>Favorecido pelos Deuses</h4>
      <p>
        A partir do 1° nível, o poder divino protege seu destino. Se você falhar
        em um teste de resistência ou errar um ataque, pode rolar 2d4 e
        adicioná-lo ao total,
      </p>
    </section>

    <section class="grimoire">
      <h3>📘 Grimório</h3>

      <div class="columns">
        <div id="cure_wounds" class="content">
          <h4>Curar Ferimentos</h4>
          <small>1° círculo, evocação</small>
          <ul>
            <li><strong>Tempo de Conjuração</strong>: 1 ação</li>
            <li><strong>Alcance</strong>: Toque</li>
            <li><strong>Componentes</strong>: V, S</li>
            <li><strong>Duração</strong>: Instantânea</li>
          </ul>
          <p>
            Uma criatura tocada por você recupera um número de pontos de vida
            igual a 1d8 + o modificador do seu atributo de conjuração ({{
            atributes.charisma.modifier }}). Esta magia não tem efeito sobre
            mortos-vivos ou constructos.
            <br />
            <strong>Em Círculos Superiores</strong>. Ao conjurar esta magia
            usando um espaço de magia de 2° círculo ou superior, a cura aumenta
            em 1d8 para cada círculo do espaço acima do 1°.
          </p>
        </div>

        <div id="speak_with_animals" class="content">
          <h4>Falar com Animais</h4>
          <small>1 ° círculo, adivinhação (ritual)</small>
          <ul>
            <li><strong>Tempo de Conjuração</strong>: 1 ação</li>
            <li><strong>Alcance</strong>: Pessoal</li>
            <li><strong>Componentes</strong>: V, S</li>
            <li><strong>Duração</strong>: 10 minutos</li>
          </ul>
          <p>
            Você adquire a habilidade de compreender e se comunicar verbalmente
            com feras enquanto a magia durar. O conhecimento e a consciência são
            limitados pela inteligência delas mas, no mínimo, são capazes de dar
            informação sobre localidades e monstros próximos, incluindo tudo o
            que notam ou notaram nas últimas 24 horas. Você pode tentar
            persuadir uma fera a lhe fazer um pequeno favor, a critério do DM.
          </p>
        </div>

        <div id="lesser_restoration" class="content">
          <h4>Restauração Menor</h4>
          <small>2° círculo, abjuração</small>
          <ul>
            <li><strong>Tempo de Conjuração</strong>: 1 ação</li>
            <li><strong>Alcance</strong>: Toque</li>
            <li><strong>Componentes</strong>: V, S</li>
            <li><strong>Duração</strong>: Instantânea</li>
          </ul>
          <p>
            Você toca uma criatura e pode tanto curar uma doença quanto remover
            uma condição que a aflija. A condição pode ser cego, envenenado,
            paralisado ou surdo.
          </p>
        </div>

        <div id="prestidigitation" class="content">
          <h4>Prestidigitação</h4>
          <small>Truque, transmutação</small>
          <ul>
            <li><strong>Tempo de Conjuração</strong>: 1 ação</li>
            <li><strong>Alcance</strong>: 3 metros</li>
            <li><strong>Componentes</strong>: V, S</li>
            <li><strong>Duração</strong>: Até 1 hora</li>
          </ul>
          <p>
            Esta magia é um pequeno truque mágico que conjuradores iniciantes
            usam para praticar. Crie um dos seguintes efeitos mágicos no alcance
            da magia:
          </p>
          <p>
            • Você cria um efeito sensorial instantâneo e inofensivo como uma
            chuva de faíscas, um sopro de vento, notas ' musicais
            fantasmagóricas ou um odor característico.
          </p>
          <p>
            • Você faz com que uma vela, tocha ou pequena fogueira seja
            imediatamente acesa ou apagada.
          </p>
          <p>
            • Você instantaneamente limpa ou suja um objeto que não seja maior
            que um cubo de 30 centímetros de lado.
          </p>
          <p>
            • Você resfria, esquenta ou tempera um cubo de até 30 centímetros de
            lado feito de matéria não-viva por 1 hora.
          </p>
          <p>
            • Você colore, faz uma pequena marca ou um símbolo aparecer em um
            objeto ou superfície por 1 hora.
          </p>
          <p>
            • Você cria uma bugiganga não-mágica ou uma imagem ilusória que pode
            caber em sua mão e esta dura até o fim do seu próximo turno.
          </p>
          <p>
            Se você conjurar esta magia múltiplas vezes, é possível ter três de
            seus efeitos não instantâneos ativos ao mesmo tempo e qualquer
            desses efeitos pode ser encerrado com uma ação.
          </p>
        </div>

        <div id="sure_shot" class="content">
          <h4>Golpe Certeiro</h4>
          <small>Truque, adivinhação</small>
          <ul>
            <li><strong>Tempo de Conjuração</strong>: 1 ação</li>
            <li><strong>Alcance</strong>: 9 metros</li>
            <li><strong>Componentes</strong>: S</li>
            <li><strong>Duração</strong>: Concentração, até 1 rodada</li>
          </ul>
          <p>
            Você aponta o seu dedo para um alvo no alcance. Sua magia garante
            uma leve intuição das defesas do alvo. Em seu próximo turno, você
            ganha vantagem em sua primeira jogada de ataque contra o alvo, desde
            que a magia não tenha terminado.
          </p>
        </div>

        <div id="minor_illusion" class="content">
          <h4>Ilusão Menor</h4>
          <small>Truque, ilusão</small>
          <ul>
            <li><strong>Tempo de Conjuração</strong>: 1 ação</li>
            <li><strong>Alcance</strong>: 9 metros</li>
            <li><strong>Componentes</strong>: S, M (um pouco de lã)</li>
            <li><strong>Duração</strong>: 1 minuto</li>
          </ul>
          <p>
            Você cria um som ou uma imagem de um objeto ao alcance da magia, que
            permanece enquanto esta durar. A ilusão termina se você a dispensar
            com uma ação ou conjurá- -la novamente.
          </p>
          <p>
            Se você cria um som, o volume emitido pode variar desde um sussurro
            até um grito. Pode ser a sua voz, a voz de outra pessoa, o rugido de
            um leão, a batida de tambores ou qualquer outro som à sua escolha. O
            som continua no mesmo tom enquanto a magia durar, ou você pode fazer
            sons mais discretos em momentos diferentes, antes que a magia
            termine.
          </p>
          <p>
            Se você criar uma imagem de um objeto - como uma cadeira, pegadas
            lamacentas ou uma pequena arca - esta não pode ser maior que um cubo
            de 1,5 metro. A imagem não pode emitir som, luz, odor ou qualquer
            outro efeito sensorial. Interação física com a imagem revela que se
            trata de uma ilusão, pois coisas passam através dela.
          </p>
          <p>
            Se uma criatura usar uma ação para examinar o som ou a imagem, a
            criatura pode determinar que é uma ilusão com um teste bem-sucedido
            de Inteligência (Investigação) contra a CD para evitar sua magia. A
            ilusão torna-se desbotada para uma criatura que consiga discerni-la.
          </p>
        </div>

        <div id="blade_barrier" class="content">
          <h4>Proteção contra Lâminas</h4>
          <small>Truque,abjuração</small>
          <ul>
            <li><strong>Tempo de Conjuração</strong>: 1 ação</li>
            <li><strong>Alcance</strong>: Pessoal</li>
            <li><strong>Componentes</strong>: V, S</li>
            <li><strong>Duração</strong>: 1 rodada</li>
          </ul>
          <p>
            Você estende a sua mão e traça um símbolo de proteção no ar. Até o
            final do seu próximo turno, você tem resistência contra dano
            contundente, cortante e perfurante causado por ataques armados.
          </p>
        </div>

        <div id="dancing_lights" class="content">
          <h4>Luzes Dançantes</h4>
          <small>Truque, evocação</small>
          <ul>
            <li><strong>Tempo de Conjuração</strong>: 1 ação</li>
            <li>Alcance: 36 metros</li>
            <li>
              <strong>Componentes</strong>: V, S, M (um pouco de fósforo, uma
              folha de olmo ou uma larva luminosa)
            </li>
            <li><strong>Duração</strong>: Concentração, até 1 minuto</li>
          </ul>
          <p>
            Você cria até quatro luzes no alcance da magia, fazendo com que se
            pareçam com tochas, lanternas ou globos brilhantes que pairam no ar
            por toda a duração da magia. Você também pode combinar as quatro
            luzes para que brilhem em uma forma vagamente humanoide de tamanho
            Médio. Qualquer que seja a forma escolhida, cada luz emite meia-luz
            em um raio de 3 metros.
          </p>
          <p>
            Com uma ação bônus em seu turno, você pode mover as luzes até 18
            metros para um novo lugar dentro do alcance da magia. Uma luz deve
            estar a até 6 metros de outra luz criada por esta magia, e uma luz
            começa a piscar quando ultrapassa o alcance da magia.
          </p>
        </div>

        <div id="vicious_mockery" class="content">
          <h4>Zombaria Perversa</h4>
          <small>Truque, encantamento</small>
          <ul>
            <li><strong>Tempo de Conjuração</strong>: 1 ação</li>
            <li><strong>Alcance</strong>: 18 metros</li>
            <li><strong>Componentes</strong>: V</li>
            <li><strong>Duração</strong>: Instantânea</li>
          </ul>
          <p>
            Você lança uma série de insultos carregados com sutis encantamentos
            contra uma criatura à sua vista e no alcance da magia. Se o alvo
            puder ouvir você (embora ele não precise lhe entender), ele deve ser
            bem-sucedido em uma salvaguarda de Carisma. Se falhar, sofre ld4
            pontos de dano psíquico e terá desvantagem na próxima jogada de
            ataque que ele fizer antes do fim do próximo turno dele.
          </p>
          <p>
            O dano desta magia aumenta em ld4 quando você alcança o 5° nível
            (2d4), o 11° nível (3d4) e o 17° nível (4d4).
          </p>
        </div>

        <div id="healing_word" class="content">
          <h4>Palavra Curativa</h4>
          <small>1° círculo, evocação</small>
          <ul>
            <li><strong>Tempo de Conjuração</strong>: 1 ação bônus</li>
            <li><strong>Alcance</strong>: 18 metros</li>
            <li><strong>Componentes</strong>: V</li>
            <li><strong>Duração</strong>: Instantânea</li>
          </ul>
          <p>
            Escolha uma criatura à sua vista e no alcance da magia. Ela recupera
            uma quantidade de pontos de vida igual a 1d4 + seu modificador de
            atributo de conjuração. Esta magia não tem efeito sobre mortos-vivos
            ou constructos.
            <br />
            <strong>Em Círculos Superiores</strong>. Ao conjurar esta magia
            usando um espaço de magia de 2° círculo ou superior, a cura aumenta
            em 1d4 para cada círculo do espaço acima do 1°
          </p>
        </div>

        <div id="shatter" class="content">
          <h4>Despedaçar</h4>
          <small>2° círculo, evocação</small>
          <ul>
            <li><strong>Tempo de Conjuração</strong>: 1 ação</li>
            <li><strong>Alcance</strong>: 18 metros</li>
            <li><strong>Componentes</strong>: V, S, M (uma lasca de mica)</li>
            <li><strong>Duração</strong>: Instantânea</li>
          </ul>
          <p>
            Um ruído súbito e estridente, dolorosamente intenso, irrompe a
            partir de um ponto à sua escolha, no alcance da magia. Cada criatura
            em uma esfera de 3 metros de raio centrado naquele ponto deve fazer
            uma salvaguarda de Constituição. Se falhar, sofre 3d8 pontos de dano
            trovejante, ou metade do dano em caso de sucesso. Uma criatura feita
            de material inorgânico, como pedra, cristal ou metal tem desvantagem
            nesta salvaguarda.
          </p>
          <p>
            Um objeto não-mágico que não esteja sendo usado ou carregado também
            sofre o dano se estiver na área da magia.
          </p>
          <p>
            <strong>Em Círculos Superiores</strong>. Ao conjurar esta magia
            usando um espaço de magia de 3° círculo ou superior, o dano aumenta
            em ld8 para cada círculo do espaço acima do 2°.
          </p>
        </div>

        <div id="comprehend_languages" class="content">
          <h4>Compreender Idiomas</h4>
          <small>1° círculo, adivinhação (ritual)</small>
          <ul>
            <li><strong>Tempo de Conjuração</strong>: 1 ação</li>
            <li><strong>Alcance</strong>: Pessoal</li>
            <li>
              <strong>Componentes</strong>: V, S, M (uma pitada de fuligem e
              sal)
            </li>
            <li><strong>Duração</strong>: 1 hora</li>
          </ul>
          <p>
            Enquanto a magia durar, você entende o significado literal de
            qualquer idioma falado que ouvir. Você também entende qualquer
            idioma escrito que veja, mas deve tocar a superfície sobre a qual as
            palavras estão escritas. Demora cerca de 1 minuto para ler uma
            página de texto.
          </p>
          <p>
            Esta magia não decodifica mensagens secretas em um texto ou um
            glifo, como um selo arcano, que não faça parte de um idioma escrito.
          </p>
        </div>

        <div id="repair" class="content">
          <h4>Reparar</h4>
          <small>Truque, transmutação</small>
          <ul>
            <li><strong>Tempo de Conjuração</strong>: 1 minuto</li>
            <li><strong>Alcance</strong>: Toque</li>
            <li><strong>Componentes</strong>: V, S, M (duas magnetitas)</li>
            <li><strong>Duração</strong>: Instantânea</li>
          </ul>

          <p>
            Esta magia repara um objeto quebrado ou rompido que você toque, como
            um elo de corrente quebrp.do, duas metades de uma chave quebrada, um
            manto rasgado ou um odre vazando. Se a quebra ou ruptura não for
            maior do que 30 centímetros em qualquer direção, você a repara sem
            deixar traços do dano anterior.
          </p>
          <p>
            Esta magia pode reparar um item mágico ou constructo, mas não pode
            restaurar a magia de tal objeto.
          </p>
        </div>

        <div id="feather_fall" class="content">
          <h4>Queda Suave</h4>
          <small>1° círculo, transmutação</small>
          <ul>
            <li>
              <strong>Tempo de Conjuração</strong>: 1 reação, executada quando
              você ou uma criatura a 18 metros do seu alcance cai
            </li>
            <li><strong>Alcance</strong>: 18 metros</li>
            <li>
              <strong>Componentes</strong>: V, M (uma pena pequena ou penugem)
            </li>
            <li><strong>Duração</strong>: 1 minuto</li>
          </ul>
          <p>
            Escolha até cinco criaturas no alcance da magia e que estejam
            caindo. A velocidade de queda de uma criatura é reduzida para 18
            metros por rodada enquanto a magia durar. Se a criatura pousar antes
            do fim da magia, não sofrerá dano por queda, podendo aterrissar eiv-
            pé, e a magia se encerra para ela.
          </p>
        </div>

        <div id="damnation" class="content">
          <h4>Perdição</h4>
          <small>1° círculo, encantamento</small>
          <ul>
            <li><strong>Tempo de Conjuração</strong>: 1 ação</li>
            <li><strong>Alcance</strong>: 9 metros</li>
            <li><strong>Componentes</strong>: V, S, M (um gota de sangue)</li>
            <li><strong>Duração</strong>: Concentração, até 1 minuto</li>
          </ul>

          <p>
            Até três criaturas, à sua escolha, que você possa ver dentro do
            alcance, devem realizar um teste de resistência de Carisma. Sempre
            que um alvo que falhou nessa resistência realizar uma jogada de
            ataque ou um teste de resistência antes da magia acabar, o alvo deve
            rolar um d4 e subtrair o valor rolado da jogada de ataque ou teste
            de resistência.
            <br />
            <strong>Em Círculos Superiores</strong>. Quando você conjurar essa
            magia usando um espaço de magia de 2° nível ou superior, você pode
            afetar uma criatura adicional para cada nível do espaço acima do 1°.
          </p>
        </div>

        <div id="disguise_self" class="content">
          <h4>Disfarçar-se</h4>
          <small>1° círculo, ilusão</small>
          <ul>
            <li><strong>Tempo de Conjuração</strong>: 1 ação</li>
            <li><strong>Alcance</strong>: Pessoal</li>
            <li><strong>Componentes</strong>: V, S</li>
            <li><strong>Duração</strong>: 1 hora</li>
          </ul>
          <p>
            Você faz com que você mesmo - incluindo suas roupas, armaduras,
            armas e outros pertences que esteja carregando - ganhe outra
            aparência, enquanto a magia durar ou até que você use sua ação para
            encerrá-la. Você pode parecer 30 centímetros mais baixo ou mais
            alto, e parecer magro, gordo ou algo entre os dois. Você não pode
            alterar o seu tipo de corpo, portanto, deve adotar uma forma que
            tenha a mesma disposição básica de membros. No mais, a extensão da
            ilusão cabe a você.
          </p>
          <p>
            As alterações feitas por esta magia não se sustentam diante de uma
            inspeção física. Por exemplo, se você usar esta magia para adicionar
            um chapéu à sua indumentária, objetos atravessam o chapéu, e quem o
            tocar não sentirá nada ou sentirá sua cabeça e cabelos. Se você usar
            esta magia para parecer mais magro do que é, alguém que estenda a
            mão para tocá-lo pode esbarrar em você enquanto ela ainda estiver,
            aparentemente, tocando o ar.
          </p>
          <p>
            Para descobrir que você está disfarçado, uma criatura pode usar a
            ação dela para inspecionar sua aparência, devendo ser bem-sucedida
            em um teste de Inteligência (Investigação) contra a CD para evitar
            sua magia.
          </p>
        </div>
      </div>
    </section>
  </body>

  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script type="text/javascript">
    const { createApp, ref } = Vue;
    const atributes = {
      strength: {
        description: "Força",
        proficient: false,
        points: 10,
      },
      dexterity: {
        description: "Destreza",
        proficient: true,
        points: 16,
      },
      constitution: {
        description: "Constituição",
        proficient: true,
        points: 14,
      },
      intelligence: {
        description: "Inteligência",
        proficient: false,
        points: 8,
      },
      wisdom: {
        description: "Sabedoria",
        proficient: false,
        points: 10,
      },
      charisma: {
        description: "Carisma",
        proficient: true,
        points: 18,
      },
    };

    const images_anime = [
      "inspiration_violin_x5j1zc.png",
      "horse_racing_qjjfsw.png",
      "goddess_q9flg3.png",
      "hostile_m7tuja.png",
      "rest_sound_gegstg.png",
      "avance_flourish_o5xkoy.png",
      "running_flourish_rjbffn.png",
      "parade_glitter_usbzza.png",
      "parade_pants_x0kcka.png",
      "parade_feathers_hrdb1a.png",
      "parade_violin_rlevg9.png",
      "dancing_square_u8cjft.png",
      "inspiration_violin_cover_scnziq.png",
      "card_cbrjjs.png",
      "dancing_court_enm6aj.png",
      "dancing_guards_dh4vkk.png",
      "violin_energitic_aor3cu.png",
      "auto_violin_ispzs4.png",
      "dancing_court_cover_ddljxc.png",
      "vicious_mockery_rvldwv.png",
      "desert_caravan_k4krno.png",
      "sword_fighting_goblins_oo9qll.png",
      "duel_wylyqx.png",
      "fighting_horse_reveal_bob6um.png",
      "fighting_house_psjx9w.png",
      "show_fires_v7yyxn.png",
      "show_cover_zuzr2k.png",
      "reveal_swords_tqfdns.png",
      "reveal_square_hxmaxd.png",
      "reveal_aura_hskfib.png",
      "reveal_square_cover_vym5eb.png",
      "cutting_flourish_fiulzx.png",
      "beach_brazilian_fmobnx.png",
    ];

    const images_realist = [
      "realist_rapier_ql2skt.png",
      "realist_court_x6hov5.png",
      "realist_sing_pn595g.png",
      "realist_violin_xpdpgw.png",
      "realist_carnaval_wcvagh.png",
    ];

    const getModifier = (value) => `${value >= 0 ? "+" : ""}${value}`;

    createApp({
      setup() {
        const levelBard = 3;
        const levelSorcerer = 1;
        const proficiency = Math.floor((levelBard + levelSorcerer + 1) / 2);

        const listAtributes = Object.keys(atributes);
        listAtributes.forEach((key) => {
          const { proficient, points } = atributes[key];

          const bonus = Math.floor((points - 10) / 2);

          atributes[key].bonus = bonus;
          atributes[key].modifier = getModifier(bonus);
          atributes[key].saveThrow = getModifier(
            bonus + (proficient ? proficiency : 0)
          );
        });

        const hitPoints = `Barda (3d8+${
          atributes.constitution.bonus * levelBard
        }) + Feiticeira (1d6+${atributes.constitution.bonus * levelSorcerer})`;

        return {
          listAtributes,
          atributes,
          proficiency,
          images_anime,
          images_realist,
          hitPoints,
          cndImages: "https://res.cloudinary.com/dqvb6qgtj/image/upload",
        };
      },
    }).mount("#app");
  </script>
</html>
